@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  background-color: rgba(232, 244, 231, 1);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Calistoga", serif;
}

p {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid black;
}
nav + a {
  width: 40%;
}
.ham {
  display: none;
}

nav .nav-links a {
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  margin: 15px;
  color: #333;
  font-weight: 200;
  font-size: 24px;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    text-align: center;
    margin: 100px 0 10px 0;
  }
  .header h1 {
    font-size: 120px;
  }
  .image {
    margin: 20px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .frames {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    margin-top: 50px;
  }
  .frames img {
    width: 400px;
    height: auto;
    padding: 10px;
  }
  
  .frames p {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 17px;
  }
  
  .frames p:nth-child(3) {
    color: rgba(0, 0, 0, 0.6);
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 13px;
  }

  .paragraph {
    display: flex;
    justify-content: flex-end;
  }
  .paragraph div {
    width: 50vw;
    font-size: 30px;
  }
  .para {
    padding: 156px 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    text-wrap: wrap;
    margin: 20px;
  }
  .para p {
    font-size: 24px;
  }

  .projectsummary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projsum {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: center; */
}
.head {
  margin: 0 50px;
}
.projsum .detail {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projsum .detail div {
  margin: 20px;
}
.projsum .detail div p {
  margin: 10px;
}
.about {
    padding: 156px 10px;
    text-align: center;
    text-wrap: wrap;
  }
  .about div {
    display: flex;
    justify-content: center;
  }
  .about div h2 {
    width: 75%;
    text-align: center;
    font-size: 45px;
  }
  .creations {
    height: 70vh;
    background-image: linear-gradient(
      rgba(232, 244, 231, 0),
      rgba(241, 57, 20, 0.06)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid;
  }
  .mb-10 {
    margin-bottom: 50px;
  }
  .creations h1 {
    font-size: 64px;
    background: transparent;
  }
  .creations p {
    text-align: center;
    font-size: 24px;
    background: transparent;
  }
  .creations button {
    border: none;
    font-family: "Courier Prime", monospace !important;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    background-color: rgba(241, 57, 20, 1);
    color: white;
    cursor: pointer;
  }
  footer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 10em;
    align-items: center;
  }
  
  footer button {
    font-family: "Roboto Mono", monospace !important;
    padding: 12px 20px;
    background-color: transparent;
    color: black;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  footer button:hover {
    background-color: rgba(241, 57, 20, 1);
    color: white;
  }
  @media (max-width: 1239px) {
    .header h1 {
      font-size: 80px;
    }
  
    .image9 {
      display: none;
    }
  }
  @media (max-width: 889px) {
    .header h1 {
      font-size: 30px;
    }
    .ending div div {
      width: 100vw;
    }
  }
  @media (max-width: 1110px) {
    .logo img {
      width: 70%;
    }
    .nav-items {
      display: none;
    }
    .ham {
      display: block;
    }
    .nav-items a {
      color: white !important;
    }
  }
  @media (max-width: 900px) {
    .about div h2 {
      font-size: 20px;
    }
    .paragraph div {
      width: auto;
    }
    .paragraph {
      display: block;
    }
    .para div p {
      font-size: 15px;
      text-align: center;
    }
  }
  @media (max-width: 700px) {
    .creations h1 {
      font-size: 40px;
    }
    .copyright {
      width: 50%;
    }
    .copyright img {
      width: 100%;
    }
  }
  @media (max-width: 440px) {
    .frames {
      width: 85%;
    }
    .images {
      width: 85%;
    }
    .frames img {
      width: 100%;
      height: auto;
    }
  }